.bg-custom {
    background: #f7f2f2;
}

.bg-nav {
    background: rgba(0, 0, 0, 4%);
    border-radius: 23px;
}

.dark .bg-custom {
    background: #090c10 !important;
}

.dark .bg-nav {
    border: 2px solid #30363d;
    background: 0 0;
}

.main_grid {
    padding: 40px 0 80px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 280px 280px 280px 280px;
    grid-gap: 1rem;
}

.box-about {
    order: 1;
}

.main_grid .box {
    box-shadow: transparent 0 0 0 2px inset;
    overflow: hidden;
    border-radius: 32px;
    user-select: none;
    will-change: transform;
}

.main_grid .box-2w {
    grid-column: span 2;
}

.content-about {
    padding: 36px 42px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #fff;
    box-shadow: transparent 0 0 0 2px inset;
    position: relative;
}

.box-linkedin .content-social {
    background: #6886c5;
}

.content-social {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    position: relative;
}

.main_grid img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.content-about img {
    height: 140px;
    width: auto;
    animation: zoom-in-zoom-out 1s ease-out;
}

.content-about .button-toggle {
    box-shadow: #f0f2f8 0 0 0 2px;
    position: absolute;
    height: 36px;
    padding: 0 12px;
    top: 20px;
    right: 20px;
    border: none;
    border-radius: 18px;
    background: 0 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    transition: all .2s ease-out 0s;
    will-change: box-shadow, transform;
}

.content-about .button-toggle p {
    font-size: 14px;
    margin: 0;
    /* font-family: silka medium; */
    line-height: 24px;
    letter-spacing: .25px;
    font-weight: 500;
    color: #0d1117;
    margin-left: 6px;
}

.content-about .button-toggle:hover {
    cursor: pointer;
    transition: box-shadow .2s ease-out 0s;
    box-shadow: #f0f2f8 0 0 0 5px;
}

.content-about img.about-me__02 {
    display: none;
}

.content-about.lockdown img.about-me__01 {
    display: none;
}

.content-about.lockdown img.about-me__02 {
    display: block;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.box-map {
    order: 2;
}

.content-map {
    position: relative;
    height: 100%;
}

.content-map img.img-map {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: -1;
}

.dark,
.dark p,
.dark h2 {
    color: #f0f2f8 !important;
}

.img-map.dark {
    display: none;
}

.avatar-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-circle {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 4px solid #fff;
    background: rgba(152, 208, 255, .5);
    z-index: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    will-change: transform;
    transition: all .2s ease-in 0s;
}

.content-map img.img-avatar {
    width: 42px;
    object-fit: contain;
    height: 42px;
}

.box-work-1 {
    order: 3;
}

.main_grid .box-2h {
    grid-row: span 2;
}

.content-work {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    padding: 16px;
}

.content-work img.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.button-custom {
    display: inline-flex;
    color: #0d1117;
    padding: 10px 20px;
    margin-top: 15px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: box-shadow .2s ease-out 0s;
    align-items: center;
    justify-content: center;
}

.box .button-custom {
    flex: none;
    height: 36px;
    border-radius: 18px;
    border: none;
    background: #fff;
    color: #0d1117;
    padding: 10px;
    transition: box-shadow .2s ease-out 0s;
}

.button-custom p {
    font-size: 14px;
}

.button-custom p {
    margin: 0;
}

.content-work .button-custom p {
    margin-right: 4px;
}

.button-custom:hover {
    cursor: pointer;
    transition: box-shadow .2s ease-out 0s;
    box-shadow: #fff 0 0 0 1px, rgb(255 255 255/.5)0 0 0 6px;
    color: #0d1117;
}

.box-light {
    background: #fff;
}

.box-light {
    order: 4;
}

.content-light {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.switch {
    width: 100px;
    height: 52px;
    display: block;
    position: relative;
    margin: 50px auto;
}

.switch__background,
.switch__background:before,
.switch__background:after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.switch__background {
    border-radius: 26px;
    -webkit-box-shadow: 0 13px 26px -16px rgb(32 15 55 / 30%);
    box-shadow: 0 13px 26px -16px rgb(32 15 55 / 30%);
    -webkit-transition: box-shadow .8s;
    -moz-transition: box-shadow .8s;
    -o-transition: box-shadow .8s;
    -ms-transition: box-shadow .8s;
    transition: box-shadow .8s;
    overflow: hidden;
}

.switch__background:before {
    content: '';
    background: #090c10;
    border-radius: 26px;
    -webkit-transition: opacity .8s;
    -moz-transition: opacity .8s;
    -o-transition: opacity .8s;
    -ms-transition: opacity .8s;
    transition: opacity .8s;
    overflow: hidden;
    z-index: -2;
}

.switch__background:after {
    content: '';
    opacity: 0;
    background: #ffe3a4;
    border-radius: 26px;
    -webkit-transition: opacity .8s;
    -moz-transition: opacity .8s;
    -o-transition: opacity .8s;
    -ms-transition: opacity .8s;
    transition: opacity .8s;
    z-index: -2;
}

.switch__toggle {
    content: '';
    height: 36px;
    width: 36px;
    position: relative;
    display: block;
    top: 8px;
    left: 8px;
    background: #fff;
    border-radius: 100%;
    -webkit-box-shadow: inset 8px -8px 0 #f8e3ef, 0 0 34.666666666666664px rgb(255 255 255 / 65%);
    box-shadow: inset 8px -8px #f8e3ef, 0 0 34.666666666666664px rgb(255 255 255 / 65%);
    -webkit-transition: left .8s, box-shadow .8s;
    -moz-transition: left .8s, box-shadow .8s;
    -o-transition: left .8s, box-shadow .8s;
    -ms-transition: left .8s, box-shadow .8s;
    transition: left .8s, box-shadow .8s;
    overflow: hidden;
    cursor: pointer;
}

.switch__stars {
    width: 3px;
    height: 3px;
    display: block;
    position: absolute;
    left: 60%;
    top: 35%;
    background: #fff;
    -webkit-box-shadow: 9px -9px 0 -3px #fff;
    box-shadow: 9px -9px 0 -3px #fff;
    filter: blur(0.5px);
    border-radius: 100%;
    -webkit-transition: -webkit-transform .8s, opacity .8s;
    -moz-transition: -moz-transform .8s, opacity .8s;
    -o-transition: -o-transform .8s, opacity .8s;
    -ms-transition: -ms-transform .8s, opacity .8s;
    transition: transform .8s, opacity .8s;
}

.switch__clouds {
    height: 10px;
    width: 10px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: -30px;
    display: block;
    -webkit-transition: 1.6s cubic-bezier(.175, .885, .32, 1.275);
    -moz-transition: 1.6s cubic-bezier(.175, .885, .32, 1.275);
    -o-transition: 1.6s cubic-bezier(.175, .885, .32, 1.275);
    -ms-transition: 1.6s cubic-bezier(.175, .885, .32, 1.275);
    transition: 1.6s cubic-bezier(.175, .885, .32, 1.275);
    border-radius: 50% 50% 0 50%;
}

.switch__toggle:before,
.switch__toggle:after {
    content: '';
    height: 90%;
    width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    opacity: 0;
    -webkit-transition: transition .8s, opacity .8s;
    -moz-transition: transition .8s, opacity .8s;
    -o-transition: transition .8s, opacity .8s;
    -ms-transition: transition .8s, opacity .8s;
    transition: transition .8s, opacity .8s;
    background: rgba(255, 255, 255, .65);
    filter: blur(8px);
}

.switch__toggle:before {
    -webkit-transform: translate(-50%, -50%)rotate(45deg);
    -moz-transform: translate(-50%, -50%)rotate(45deg);
    -o-transform: translate(-50%, -50%)rotate(45deg);
    -ms-transform: translate(-50%, -50%)rotate(45deg);
    transform: translate(-50%, -50%)rotate(45deg);
}

.switch__toggle:after {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.switch__stars:before {
    content: '';
    width: 2px;
    height: 2px;
    display: block;
    position: absolute;
    left: 700%;
    top: 560%;
    background: #fff;
    -webkit-box-shadow: 6px -6px 0 -3px #fff;
    box-shadow: 6px -6px 0 -3px #fff;
    filter: blur(0.5px);
    border-radius: 100%;
    -webkit-transform: rotate(-75deg);
    -moz-transform: rotate(-75deg);
    -o-transform: rotate(-75deg);
    -ms-transform: rotate(-75deg);
    transform: rotate(-75deg);
    -webkit-transition: -webkit-transform .8s, opacity .8s;
    -moz-transition: -moz-transform .8s, opacity .8s;
    -o-transition: -o-transform .8s, opacity .8s;
    -ms-transition: -ms-transform .8s, opacity .8s;
    transition: transform .8s, opacity .8s;
}

.switch__stars:after {
    content: '';
    height: 1.857142857142857px;
    width: 1.857142857142857px;
    position: absolute;
    left: 200%;
    top: 260%;
    opacity: 0;
    background: -webkit-linear-gradient(left, #fff, rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(left, #fff, rgba(255, 255, 255, 0));
    background: -o-linear-gradient(left, #fff, rgba(255, 255, 255, 0));
    background: -ms-linear-gradient(left, #fff, rgba(255, 255, 255, 0));
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    filter: blur(0.5px);
    border-radius: 100%;
    -webkit-animation: falling-stars 6.4s cubic-bezier(.165, .84, .44, 1)infinite;
    -moz-animation: falling-stars 6.4s cubic-bezier(.165, .84, .44, 1)infinite;
    -o-animation: falling-stars 6.4s cubic-bezier(.165, .84, .44, 1)infinite;
    -ms-animation: falling-stars 6.4s cubic-bezier(.165, .84, .44, 1)infinite;
    animation: falling-stars 6.4s cubic-bezier(.165, .84, .44, 1)infinite;
    -webkit-animation-delay: 3.2s;
    -moz-animation-delay: 3.2s;
    -o-animation-delay: 3.2s;
    -ms-animation-delay: 3.2s;
    animation-delay: 3.2s;
}

.switch__background:after {
    content: '';
    opacity: 0;
    background: #ffe3a4;
    border-radius: 26px;
    -webkit-transition: opacity .8s;
    -moz-transition: opacity .8s;
    -o-transition: opacity .8s;
    -ms-transition: opacity .8s;
    transition: opacity .8s;
    z-index: -2;
}

.dark .main_grid .box {
    background: #0d1117;
    border: 2px solid #30363d;
    box-sizing: border-box;
}

.switch__background:hover {
    cursor: pointer;
}

.switch__input:checked+.switch__background {
    -webkit-box-shadow: 0 13px 26px -16px rgb(33 210 242 / 30%);
    box-shadow: 0 13px 26px -16px rgb(33 210 242 / 30%);
}

.switch__input:checked+.switch__background:before {
    opacity: 0;
}

.switch__input:checked+.switch__background:after {
    opacity: 1;
}

.switch__input:checked+.switch__background .switch__toggle {
    left: 56px;
    -webkit-box-shadow: inset 0 0 0.1px #fff, 0 0 32px #fff;
    box-shadow: inset 0 0 0.1px #fff, 0 0 32px #fff;
    -webkit-animation: overlay 0s forwards;
    -moz-animation: overlay 0s forwards;
    -o-animation: overlay 0s forwards;
    -ms-animation: overlay 0s forwards;
    animation: overlay 0s forwards;
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -o-animation-delay: .4s;
    -ms-animation-delay: .4s;
    animation-delay: .4s;
}

.switch__input:checked+.switch__background .switch__toggle:before,
.switch__input:checked+.switch__background .switch__toggle:after {
    opacity: 1;
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
}

.switch__input {
    display: none;
}

.dark .home_grid {
    background: #090c10 !important;
}

.dark .main_grid .box .content-social,
.dark .main_grid .box .content-about {
    background: #0d1117;
}

.dark .button-toggle {
    border: 2px solid #30363d;
}

.dark .button-toggle svg g path {
    stroke: #f0f2f8;
}

.dark a {
    color: #f0f2f8 !important;
}

.box-linkedin {
    order: 5;
}

.content-social .button-custom {
    position: absolute;
    left: 16px;
    bottom: 16px;
}